{
    "singleQuote": true,
    "printWidth": 180,
    "semi": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "bracketSpacing": true,
    "arrowParens": "always",
    "bracketSameLine": false
}
